---
import { storyblokEditable } from "@storyblok/astro";
const { blok } = Astro.props;
---

<form
  {...storyblokEditable(blok)}
  class="mx-auto flex w-full max-w-[80ch] flex-col space-y-4"
  name="contact"
  netlify
>
  <div class="form-control">
    <label for="name" class="label">
      <span class="label-text">Name</span>
    </label>
    <input
      type="text"
      id="name"
      name="name"
      required
      class="input input-bordered"
    />
  </div>
  <div class="form-control">
    <label for="email" class="label">
      <span class="label-text">Email</span>
    </label>
    <input
      type="text"
      id="email"
      name="email"
      required
      class="input input-bordered"
    />
  </div>
  <div class="form-control">
    <label for="interest" class="label">
      <span class="label-text">I am interested in</span>
    </label>
    <select
      id="interest"
      name="interest"
      required
      class="select select-bordered"
    >
      <option value="copywriting">Copywriting</option>
      <option value="content">Content writing</option>
    </select>
  </div>
  <div class="form-control">
    <label for="message" class="label">
      <span class="label-text">Message</span>
    </label>
    <textarea
      id="message"
      name="message"
      required
      class="textarea textarea-bordered"></textarea>
  </div>
  <button type="submit" class="btn btn-primary self-center">Send</button>
</form>
