---
import { storyblokEditable } from "@storyblok/astro";
const { blok } = Astro.props;
const { title, link, link_text } = blok;
---

<div
  class="flex flex-col items-center space-y-4 rounded-2xl bg-secondary-content p-8 shadow-lg"
  {...storyblokEditable(blok)}
>
  <div class="text-3xl font-bold text-secondary">
    {title}
  </div>
  <a class="btn btn-secondary" href={`/${link.cached_url}`}>{link_text}</a>
</div>
