---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import RichTextRenderer from "storyblok-rich-text-astro-renderer/RichTextRenderer.astro";
const { blok } = Astro.props;
---

<div class="[&>div]:not-prose prose" {...storyblokEditable(blok)}>
  <RichTextRenderer
    content={blok.text}
    resolver={(blok) => {
      return {
        component: StoryblokComponent,
        props: { blok },
      };
    }}
  />
</div>
