---
import SiteLayout from "../layouts/SiteLayout.astro";
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

export async function getStaticPaths() {
  const sbApi = useStoryblokApi();

  const { data } = await sbApi.get("cdn/stories/", {
    content_type: "page",
    version:
      import.meta.env.PUBLIC_ENV === "production" ? "published" : "draft",
  });

  const stories = Object.values(data.stories);

  return stories.map((story) => {
    return {
      params: { slug: story.slug },
    };
  });
}

const sbAPI = useStoryblokApi();
const { slug } = Astro.params;
const { data } = await sbAPI.get(`cdn/stories/${slug}`, {
  version: "draft",
  resolve_relations: ["testimonial_grid.testimonials"],
});

const { content, name } = data.story;
---

<SiteLayout title={name}>
  <header class="px-4 py-16 text-center">
    <h1 class="text-5xl font-bold text-primary">
      {name}
    </h1>
  </header>
  <StoryblokComponent blok={content} />
</SiteLayout>
