---
import Header from "../components/Header.astro";
import NavMenu from "../components/NavMenu.astro";
import "../app.css";

const { title } = Astro.props;
---

<html data-theme="light" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="drawer drawer-end">
      <input type="checkbox" id="nav-menu" class="drawer-toggle" />
      <div class="drawer-content flex h-screen flex-col">
        <Header />
        <slot />
        <footer></footer>
      </div>
      <div class="drawer-side">
        <label for="nav-menu" aria-label="close sidebar" class="drawer-overlay"
        ></label>
        <div class="min-h-full w-80 bg-base-200">
          <NavMenu />
        </div>
      </div>
    </div>
  </body>
</html>
